<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>i2048.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4A400D31DFC3599002BF6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A400ED1DFC359A002BF6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A400F81DFC359A002BF6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
